<div class="container p-3 my-5">
	<div class="row">
		<form
			class="mx-auto col-lg-6 p-5 border border-danger rounded needs-validation"
			(ngSubmit)="changePassword()"
		>
			<h1>Change Password</h1>
			<div class="py-2">
				<label for="old-password" class="form-label">Old Password</label>
				<input
					type="password"
					class="form-control"
					id="old-password"
					name="oldPassword"
					required
					[(ngModel)]="oldPassword"
				/>
				<div class="invalid-feedback">Please enter your old password</div>
			</div>
			<div class="py-2">
				<label for="new-password" class="form-label">New Password</label>
				<input
					type="password"
					class="form-control"
					id="new-password"
					name="newPassword"
					required
					pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$"
					[(ngModel)]="newPassword"
				/>
				<div class="invalid-feedback">Please enter a valid password</div>
			</div>
			<button type="submit" class="btn btn-danger w-100 mt-2">Change Password</button>
		</form>
	</div>
</div>

<div class="container p-3 my-5">
	<div class="row">
		<form
			class="mx-auto col-lg-6 p-5 border border-danger rounded needs-validation"
			(ngSubmit)="deleteAccount()"
		>
			<h1 class="pt-2 pb-4">Delete Account</h1>

			<div class="d-flex flex-row py-2 gap-3 align-items-center">
				<div class="">
					<label for="password" class="form-label m-0">Password</label>
				</div>

				<div class="flex-grow-1">
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
						required
						[(ngModel)]="currentPassword"
					/>
				</div>

				<div class="">
					<button type="submit" class="btn btn-danger col-12">Delete Account</button>
				</div>
			</div>
		</form>
	</div>
</div>
<app-success-toast [message]="'Success! Password changed'"></app-success-toast>
<app-failure-toast [message]="'Incorrect Password'"></app-failure-toast>
