<div class="container p-5 text-center">
	<h1 class="p-3">Thanks for trying my application!</h1>
	<div class="p-2">
		<a
			href="https://github.com/peteryn/ComputerStoreFrontend"
			class="btn btn-outline-primary mx-1"
			><i class="bi bi-github me-1"></i>Source Code</a
		>
		<a href="" class="btn btn-warning mx-1">See Technical Challenges</a>
	</div>
	<h1 class="p-3 mt-5">More of my work can be found here:</h1>
	<div class="p-2">
		<a href="https://github.com/peteryn/" class="btn btn-outline-primary mx-1"
			><i class="bi bi-github me-1"></i>GitHub Profile</a
		>
		<a class="btn btn-primary mx-1" href="https://www.linkedin.com/in/peter-li-yuan/"
			><i class="bi bi-linkedin me-1"></i>LinkedIn Profile</a
		>
	</div>
</div>
