<main class="p-3 container mt-5">
	<div class="row">
		<form
			class="needs-validation mx-auto col-lg-6 p-5 border rounded"
			(ngSubmit)="onSubmit()"
			novalidate
			#registerForm="ngForm"
		>
			<h1 class="mb-2">Profile</h1>
			<div class="mb-3 row">
				<div class="col">
					<label for="firstNameField" class="form-label">First Name</label>
					<input
						class="form-control"
						type="text"
						placeholder="{{ model.firstName }}"
						id="firstNameField"
						name="firstName"
						required
						[(ngModel)]="model.firstName"
					/>
				</div>
				<div class="col">
					<label for="lastNameField" class="form-label">Last Name</label>
					<input
						class="form-control"
						type="text"
						placeholder="{{ model.lastName }}"
						id="lastNameField"
						name="lastName"
						required
						[(ngModel)]="model.lastName"
					/>
				</div>
			</div>
			<button type="submit" class="btn btn-primary w-100">Submit</button>
		</form>
	</div>
</main>

<app-success-toast [message]="'Profile Updated!'"></app-success-toast>